$layout-breakpoint-small: 265px;

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 1em;
  align-items: center;
  background: white;
  @media(max-width: $layout-breakpoint-small){
    flex-direction: column;
  }
    margin: 0.5em;
}

.logo {
  width: 40px;
  border-radius: 50%;
  @media(max-width: $layout-breakpoint-small){
    margin: 1em;
  }
}
.nav-btn {
  color: black;
  border: 1px solid #4A4A4A;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.nav-btn:hover {
  background: #1BCB7F;
  color: white;
  cursor: pointer;
}
