.navbar {
  display: flex;
  justify-content: space-between;
  margin: 1em;
  align-items: center;
  background: white;
}

.logo {
  width: 40px;
  border-radius: 50%;
}

.nav-btn {
  transition: background 0.3s ease;
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.nav-btn:hover {
  background: #1BCB7F;
  color: white;
  cursor: pointer;
}


