// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$layout-breakpoint-small: 769px;

.flower-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 1rem;
  @media(max-width: $layout-breakpoint-small){
    grid-template-columns: none;
    grid-gap: none;
  }
}

.flower-card {
  display:flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  border-radius: 5px;
  hr {
    color: grey;
    opacity: 0.1;
    width: 100%;
  }
}

.flower-card .flower-card-text{
  padding-top: 1rem;
  display: flex;
  font-weight: 200;
  flex-direction: column;
  align-items: center;

}

.flower-card h3{
  font-weight: 500;
}


.flower-card img {
  width: 200px;
  object-fit: cover;
}

.flower-card:hover{
  background-color: rgba(0,0,0,0.1);
  opacity: 0.6;
}

.flower-card.active{
  background-color: rgba(0,0,0,0.1);
  opacity: 0.6;
}

.in-cart {
  z-index: 100;
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  font-size: 8px;
  color: #fff;
  text-align: center;
  background: #000
}

.btn-flat {
  color: white;
  opacity: 0;
  position: relative;
  top: 40%;
  z-index: 2;
  padding: 8px 24px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}







